body, th, td {
    font-family: 'PT Sans', sans-serif;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #bbb;
    padding: 2px;
}

table th {
    text-align: left;
}

table td {
    text-align: center;
}

.highlight {
    background-color: #f9f500;
}

.data {
    background-color: #ddffdd;
}

td.star, td.no-star {
    width: 20px;
}

td.star {
    background-image: url(star_16.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

td.star-column {
    min-width: 20px;
}