<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="servletInitialization" class="edu.mayo.mprc.swift.ServletInitialization">
        <property name="factoryTable" ref="resourceTable" />
        <property name="serviceFactory" ref="serviceFactory" />
        <property name="servletContext" ref="servletContext" />
        <property name="swiftMonitor" ref="swiftMonitor" />
        <property name="swiftSearcherCaller" ref="swiftSearcherCaller" />
        <property name="webUiHolder" ref="webUiHolder" />
        <property name="configurationService" ref="ConfigurationService" />
    </bean>

    <bean id="SwiftAppService" class="edu.mayo.mprc.swift.ui.server.ServiceImpl">
        <property name="workspaceDao" ref="workspaceDao" />
        <property name="curationDao" ref="curationDao" />
        <property name="paramsDao" ref="paramsDao" />
        <property name="paramsInfo" ref="paramsInfo" />
        <property name="unimodDao" ref="unimodDao" />
        <property name="swiftDao" ref="swiftDao" />
        <property name="webUiHolder" ref="webUiHolder" />
        <property name="swiftSearcherCaller" ref="swiftSearcherCaller" />
    </bean>

    <bean id="ConfigurationService" class="edu.mayo.mprc.swift.configuration.server.ConfigurationServiceImpl">
        <property name="resourceTable" ref="resourceTable" />
        <property name="swiftEnvironment" ref="swiftEnvironment" />
        <property name="installCommand" ref="install-command" />
        <property name="stopper" ref="servletInitialization" />
    </bean>

    <bean id="DirectoryService" class="edu.mayo.mprc.swift.ui.server.FileDirectoryServiceServlet">
        <property name="webUiHolder" ref="webUiHolder" />
    </bean>
</beans>